<!--Contact us-->
<footer id = "CP">
    <section class="contact" id="contact">
        <h3>Contact Us</h3>

        <div class="info-column">
        <div class="info-container">
            <p><i class="fas fa-solid"></i>Elsie</p>
            <p><i class="fas fa-number"></i>535220076</p>
            <p><a href="https://www.instagram.com/Elsie_ng15" target="_blank"><img src="asset/logoig.png" alt="Elsie_ng15">Elsie_ng15</a></p>
        </div>
    
        <div class="info-container">
            <p><i class="fas fa-solid"></i>Jechenthia Maria Taso</p>
            <p><i class="fas fa-number"></i>535220081</p>
            <p><a href="https://www.instagram.com/Jcheytaso_" target="_blank"><img src="asset/logoig.png" alt="Jcheytaso_">Jcheytaso_</a></p>
        </div>

        <div class="info-container">
            <p><i class="fas fa-solid"></i>Chelsia Cindeleria Herwanto</p>
            <p><i class="fas fa-number"></i>535220083</p>
            <p><a href="https://www.instagram.com/chelsia_cindeleria" target="_blank"><img src="asset/logoig.png" alt="chelsia_cindeleria">chelsia_cindeleria</a></p>
        </div>

        <div class="info-container">
            <p><i class="fas fa-solid"></i>Widya Khaerunnisyah</p>
            <p><i class="fas fa-number"></i>535220262</p>
            <p><a href="https://www.instagram.com/widyaaks" target="_blank"><img src="asset/logoig.png" alt="widyaaks">widyaaks</a></p>
        </div>
    </div>  
</div>
        <div class="info-column">
        <div class="info-container">
            <center>© Created by :<span> PagePetal</span> </center>
            <center>© Designed by :<span> PagePetal</span> </center>
        </div>
        </div>
    </section>
    </footer>