<html lang="en">
<%- include('layouts/header.ejs') %>
    <%- include('layouts/nav.ejs') %>
        <link rel="stylesheet" type="text/css" href="home.css">

        <body>
            <h1>Welcome!</h1>
            <center>
                <p>
                    <span2>Let's expand your mind by reading books!</span2>
                </p>
            </center>

            <!--About-->
            <section class="about" id="about">
                <h1 class="heading"><span>About</span> Us </h1>
                <div class="row">
                    <h3><i>"What is <span2>PagePetal Store?"</span2></i></h3>
                    <p>
                        <b>
                            <span2>PagePetal Store</span2>
                        </b> adalah salah satu online Bookstore
                        yang menjual berbagai macam novel dengan genre yang berbeda-beda
                        seperti romance, fiksi, fantasy, fan fiction, mystery, comedy, dll.
                    </p>
                    </center>
                    <a href="/ourBooks" class="action-btn">
                        <center>More Info</center>
                    </a>
                </div>
            </section>

            <!--Script-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous"></script>
            <script src="index.js"></script>
        </body>
        <%- include('layouts/footer.ejs') %>

</html>