<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header.ejs') %>
    <%- include('layouts/nav.ejs') %>
        <link rel="stylesheet" type="text/css" href="search.css">

        <body>
            <!-- Include header and navigation -->
            <section class="search" id="search">
                <div class="container">
                    <form id="search-form">
                        <input type="text" id="search-input" placeholder="Search..." ng-model="searchQuery">
                        <select id="category-select">
                            <option value="all">Books</option>
                            <option value="title">Accecories</option>
                        </select>
                        <br>
                        <center><button ng-click="searchBooks()">Search</button></center>
                    </form>
                </div>

                <div class="products" id="productsContainer">
                </div>

                <!--Script-->
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                    crossorigin="anonymous"></script>
                <script src="index.js"></script>


        </body>
        <%- include('layouts/footer.ejs') %>

</html>