<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header.ejs') %>
  <%- include('layouts/nav.ejs') %>

    <head>
      <link rel="stylesheet" type="text/css" href="trolley.css">
    </head>

    <body>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
      <script src="trolley.js"></script>
      <script src="BookAPI.js"></script>
    </body>

    <%- include('layouts/footer.ejs') %>

</html>